/AIFB_BGP_ComplEx_top_1000.csv
/AIFB_BGP.csv
/AIFB_BGP_classification_target.csv
/AIFB_BGP_DistMult_top_1000.csv
/AIFB_BGP_embeddings_ComplEx.csv
/AIFB_BGP_embeddings_DistMult.csv
/AIFB_BGP_embeddings_HolE.csv
/AIFB_BGP_embeddings_TransE.csv
/AIFB_BGP_HolE_top_1000.csv
/AIFB_BGP_TransE_top_1000.csv
/KGE-DGL/dataset/ogbn_mag/mapping/author_entidx2name.csv.gz
/Cloud_computing_providers_classification_target.csv
/Cloud_computing_providers_ComplEx_top_1000.csv
/Cloud_computing_providers_DistMult_top_1000.csv
/Cloud_computing_providers_embeddings_ComplEx.csv
/Cloud_computing_providers_HolE_top_1000.csv
/Cloud_computing_providers_TransE_top_1000.csv
/dbp_Film_Country.csv
/dbp_Film_Country_classification_target.csv
/dbpedia_Qald09 - Selected_Queries.csv
/KGE-DGL/dataset/ogbg_molhiv/processed/dgl_data_processed
/KGE-DGL/dataset/ogbn_mag/processed/dgl_data_processed
/KGE-DGL/dataset/ogbg_molhiv/raw/edge.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/author___affiliated_with___institution/edge.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/author___writes___paper/edge.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/paper___cites___paper/edge.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/paper___has_topic___field_of_study/edge.csv.gz
/KGE-DGL/dataset/ogbg_molhiv/raw/edge-feat.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/author___affiliated_with___institution/edge_reltype.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/author___writes___paper/edge_reltype.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/paper___cites___paper/edge_reltype.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/paper___has_topic___field_of_study/edge_reltype.csv.gz
/KGE-DGL/dataset/ogbn_mag/mapping/field_of_study_entidx2name.csv.gz
/KGE-DGL/dataset/ogbg_molhiv/raw/graph-label.csv.gz
/imdb_movies_genere.csv
/KGE-DGL/dataset/ogbn_mag/mapping/institution_entidx2name.csv.gz
/KGE-DGL/dataset/ogbn_mag/mapping/labelidx2venuename.csv.gz
/Linked_MDB_BGP.csv
/Linked_MDB_BGP_classification_target.csv
/Linked_MDB_BGP_classification_target_country.csv
/Linked_MDB_BGP_classification_target_genere.csv
/Linked_MDB_BGP_ComplEx_top_1000.csv
/Linked_MDB_BGP_DistMult_top_1000.csv
/Linked_MDB_BGP_embeddings_ComplEx.csv
/Linked_MDB_BGP_embeddings_DistMult.csv
/Linked_MDB_BGP_embeddings_HolE.csv
/Linked_MDB_BGP_embeddings_TransE.csv
/Linked_MDB_BGP_HolE_top_1000.csv
/Linked_MDB_BGP_TransE_top_1000.csv
/KGE-DGL/dataset/ogbg_molhiv/mapping/mol.csv.gz
/KGE-DGL/dataset/ogbg_molhiv/raw/node-feat.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/node-feat/paper/node-feat.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/node-label/paper/node-label.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/node-feat/paper/node_year.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/nodetype-has-feat.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/nodetype-has-label.csv.gz
/KGE-DGL/dataset/ogbn_mag/split/time/nodetype-has-split.csv.gz
/novels_embeddings_ComplEx.csv
/KGE-DGL/dataset/ogbg_molhiv/raw/num-edge-list.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/author___affiliated_with___institution/num-edge-list.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/author___writes___paper/num-edge-list.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/paper___cites___paper/num-edge-list.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/relations/paper___has_topic___field_of_study/num-edge-list.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/num-node-dict.csv.gz
/KGE-DGL/dataset/ogbg_molhiv/raw/num-node-list.csv.gz
/KGE-DGL/dataset/ogbn_mag/mapping/paper_entidx2name.csv.gz
/KGE-DGL/dataset/ogbg_molhiv/mapping/README.md
/KGE-DGL/dataset/ogbn_mag/mapping/README.md
/KGE-DGL/dataset/ogbg_molhiv/RELEASE_v1.txt
/KGE-DGL/dataset/ogbn_mag/RELEASE_v2.txt
/KGE-DGL/dataset/ogbn_mag/mapping/relidx2relname.csv.gz
/Space_advocates_ComplEx_top_1000.csv
/Space_advocates_DistMult_top_1000.csv
/Space_advocates_embeddings_ComplEx.csv
/Space_advocates_HolE_top_1000.csv
/Space_advocates_TransE_top_1000.csv
/KGE-DGL/dataset/ogbg_molhiv/split/scaffold/test.csv.gz
/KGE-DGL/dataset/ogbn_mag/split/time/paper/test.csv.gz
/KGE-DGL/dataset/ogbg_molhiv/split/scaffold/train.csv.gz
/KGE-DGL/dataset/ogbn_mag/split/time/paper/train.csv.gz
/KGE-DGL/dataset/ogbn_mag/raw/triplet-type-list.csv.gz
/KGE-DGL/dataset/ogbg_molhiv/split/scaffold/valid.csv.gz
/KGE-DGL/dataset/ogbn_mag/split/time/paper/valid.csv.gz
