conda install pytorch==2.1.0 torchvision==0.16.0 torchaudio==2.1.0 -c pytorch
conda install pyg -c pyg
pip install pandas
pip install pyvis
pip install sacred
pip install seml
pip install psutil
pip install numba
pip install dgl==0.9.0
pip install lmdb==0.98
pip install networkx==2.4
pip install scikit-learn
pip install tqdm==4.43.0
pip install SPARQLWrapper
pip install wget
pip install pyodbc
pip install --no-index torch-scatter -f https://pytorch-geometric.com/whl/torch-2.0.0+cpu.html
pip install --no-index torch-sparse -f https://pytorch-geometric.com/whl/torch-2.0.0+cpu.html
pip install --no-index torch-cluster -f https://pytorch-geometric.com/whl/torch-2.0.0+cpu.html
pip install --no-index torch-spline-conv -f https://pytorch-geometric.com/whl/torch-2.0.0+cpu.html
pip install torch-geometric
pip install pystardog
pip install requests_toolbelt

pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
pip install torch_geometric
pip install ogb
