apt install gcc
conda install gcc_linux-64 gxx_linux-64
create conda KGTOSA
create activate KGTOSA
conda install pytorch torchvision torchaudio cpuonly -c pytorch
conda install pyg -c pyg
pip install pandas
###############3
pip install ogb
pip install sacred
pip install seml
pip install parallel-sort==0.0.3  # please do not use new versions
pip install python-tsp
pip install psutil
pip install numba
conda install -c anaconda git